<div class="modal-dialog modal-dialog-center pad12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Confirm Action
            <button type="button" class="close" ng-click="cancel()">&times;</button>
        </div>
        <div class="panel-body">
            <p>Do you want to end the break {{slotText}}?</p>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <button type="button" class="btn btn-danger" ng-click="cancel()">Close</button>
                <button type="button" class="btn btn-primarysubmit" ng-click="confirm()">Confirm</button>
            </div>
        </div>
    </div>
</div>