<div class="container">
    <div data-backdrop="false" class="topmargin1point5">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                Change User Password
                <button type="button" class="close" ng-click="CloseModal()">&times;</button>
            </div>
            <div class="panel-body">
                <p ng-show="isDataLoading" class="text-center"><img src="/SmartServe/Content/images/Spinner.gif" class="loading" /></p>
                <form class="form-group" role="form" novalidate name="userAddForm" ng-show="!isDataLoading">
                    <div class="col-md-6 col-md-offset-2">
                        <div class="row top10">
                            <div class="col-md-4">
                                User Name 
                            </div>
                            <div class="col-md-6">
                                <strong>{{UserId}} <span ng-if="!UserId">NA</span></strong>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-4">
                                New Password
                            </div>
                            <div class="col-md-6">
                                <input type="password" id="newPassword" placeholder="New Password" ng-model="newPassword" class="form-control" required />
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-4">
                                Confirm New Password
                            </div>
                            <div class="col-md-6">
                                <input type="password" id="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" class="form-control" required />
                            </div>
                        </div>
                        <div class="row top10" ng-show="isFormInvalid">
                            <div class="text-center text-danger">
                                <strong>Passwords do not match.</strong>
                            </div>
                        </div>
                        <div class="row top10" ng-show="isPasswordChanged">
                            <div class="text-center text-success">
                                <strong>User Password changed successfully.</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix ">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="CloseModal()">Close</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primarysubmit" ng-click="ChangePassword()">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</div>