<div class="modal-dialog modal-dialog-center pad12">

    <div class="panel panel-primary">

        <div class="panel-heading">
            Force Logout Confirmation
            <button type="button" class="close" ng-click="Cancel()">&times;</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <fieldset class="bottom2">
                    <div class="col-sm-12">
                        <p> Are you sure you want to log out this member from all the sessions?</p>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="col-md-12">
                <div class="pull-right">
                    <fieldset class="bottom2">
                        <button type="button" class="btn btn-danger" ng-click="Cancel()">No</button>
                        <button type="submit" class="btn btn-primarysubmit" ng-click="Change()">Yes</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
