<div class="modal-dialog modal-dialog-center pad12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>About SmartServe</h4>
            <button type="button" class="close" ng-click="ok()">&times;</button>
        </div>
        <div class="panel-body">
            <p class="text-center"><img src="/SmartServe/Content/images/cricut_smart_serve.png" width="90" alt="About SmartServe" /></p>
            <div class="text-center">SmartServe v{{version}}</div>
        </div>

        <div class="panel-footer clearfix">
            <div class="pull-right">
                <button type="button" class="btn btn-danger" ng-click="ok()">Close</button>
            </div>
        </div>
    </div>
</div>
