<div class="modal-dialog modal-dialog-center pad12">
    <form role="form" novalidate angular-validator name="forgotpasswordForm" angular-validator-submit="Register()">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Reset Password<span><button type="button" class="close" ng-click="close()">&times;</button></span> </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="Email">Contact your Supervisor or Tech 4 to reset your SmartServe password</label>
                    </div>
                </div>
            </div>
            <p ng-show="loading" class="text-center"><img src="/SmartServe/Content/images/Spinner.gif" alt="...........LOADING" class="loading" /></p>
            <div ng-show="PasswordResetted" class="text-center text-danger"><strong>Your password has been reset. Please check your email for your new password.</strong></div>
            <div ng-show="PasswordNotResetted" class="text-center text-danger"><strong>Please enter a Registered Email ID.</strong></div>

            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
