<div class="modal-dialog modal-dialog-center pad12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Reset Password
            <button type="button" class="close" ng-click="Cancel()">&times;</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <fieldset class="bottom2">
                    <div class="col-sm-12">
                        <p> Are you sure you want to reset the password for the selected customer?</p>
                    </div>
                </fieldset>
            </div>
            <div>
                <strong ng-hide="disableOverride">Override Magento </strong><input type="checkbox" ng-hide="disableOverride" ng-model="isOverride" />
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="col-md-12">
                <div class="pull-right">
                    <fieldset class="bottom2">
                        <button type="button" class="btn btn-danger" ng-click="Cancel()">Cancel</button>
                        <button type="submit" class="btn btn-primarysubmit" ng-click="Change()">Reset</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>