<div class="container">
    <div data-backdrop="false" class="topmargin1point5">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                SmartServe Release Notes
                <button type="button" class="close" ng-click="cancel()">&times;</button>
            </div>
            <div class="panel-body">
                <iframe id="releaseNoteFrame" class="viewreleasenote-panel" onload="ViewReleaseNotesReport();"></iframe>
            </div>
            <div class="panel-footer clearfix ">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="cancel()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>